* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.phone-container {
  position: relative;
}


#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.8s ease;
}


.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.switch {
  cursor: pointer;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="checkbox"] {
  display: none;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 50px;
  color: #000000;
}

.v-button {
  width: 450px;
  position: absolute;
  bottom: 650px;
  left: 240px;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.ahh {
  background-color:rgba(207, 147, 194, 0.733);
  border: none;
  padding: 40px 50px;
  border-radius: 10px;
  font-size: 25px;
  color: #ffffffc7;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(187, 0, 146, 0.568);
  transition: 0.3s;
}

.ahh:hover {
  background-color: rgb(216, 132, 198);
  transform: scale(1.05);
  color:rgb(255, 255, 255);
  box-shadow: 0 6px 15px rgb(255, 56, 165);
}

.chibi-group {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 230px;
  margin-bottom: 160px;
  left: 270px;
}

.chibi.small {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chibi.small:hover {
  transform: scale(1.05);
}

.chibi.small.clicked {
  animation: zoomClick 0.3s ease-in-out;
}

.chibi.medium {
  width: 170px;
  height: 170px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chibi.medium:hover {
  transform: scale(1.05);
}

.chibi.medium.clicked {
  animation: zoomClick 0.3s ease-in-out;
}

.chibi-big {
  position: absolute;
  right: 100px;
  bottom: 2px;
  width: 600px;
  height: 900px;
}

.speech-bubble {
  position: absolute;
  right: 630px;
  top: 20px;
  width: 500px;
  text-align: center;
}

.speech-bubble img {
  width: 130%;
}
.speech-bubble:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.speech-bubble.clicked {
  animation: zoomClick 0.3s ease-in-out;
}

.button1 { 
  position: absolute;
  bottom: 150px;
  left: 280px;
  top: 570px;
}

.btn {
  background-color: #fa78b3c0;
  border: none;
  padding: 30px 80px;
  border-radius: 10px;
  font-size: 46px;
  color: #ffffffe0;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(226, 220, 222);
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(39, 89, 255);
  transform: scale(1.05);
  color: #ffffff;
  box-shadow: 0 6px 15px rgb(181, 210, 255);
}

.button2 {
  position: absolute;
  bottom: 50px;
  left: 360px;
  top: 730px;
}

.button2 .btn {
  background-color: #e487b1dc;
  border: none;
  padding: 20px 60px;
  border-radius: 10px;
  font-size: 30px;
  color: #ffffffb0;
  cursor: pointer;
  box-shadow: 0 4px 10px rgb(255, 240, 251);
  transition: 0.3s;
}

.button2 .btn:hover {
  background-color:rgb(39, 89, 255);
  transform: scale(1.05);
  color: #ffffff;
  box-shadow: 0 6px 15px rgb(142, 189, 250);
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes zoomClick {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 182, 193, 0.205);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: rgb(241, 162, 208);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  width: 570px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.2);
}

.close-btn {
  background: #24111e9a;
  color: #fff;
  border: none;
  padding: 15px 31px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 80px;
}

@keyframes sakura {
  0% { transform: translate(0, 0) rotate(0deg); opacity: 1; }
  100% { transform: translate(100px, 800px) rotate(360deg); opacity: 0; }
}

.petal {
  position: fixed;
  top: -10px;
  background: rgba(255, 170, 188, 0.973);
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1;
  animation: sakura 1s linear infinite;
}

.extra-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
}

.music-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.music-btn:hover {
  background: rgba(0, 0, 0, 0.253);
  transform: scale(1.05);
}

.music-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1000;
}

.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  border-radius: 25px;
  padding: 5px 8px;
}

.sun, .moon {
  font-size: 30px;
  transition: opacity 0.1s ease;
}

#themeSwitch {
  display: none;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  z-index: 100;
  padding-top: 100px;
}
.character-display {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
}
.character-display img {
  width: 220px;
  height: 300px;
}

.quiz-content {
  padding: 100px;
  border-radius: 15px;
  max-width: 600px;
  width: 120%;
  text-align: center;
}

#question-container {
  margin-bottom: 100px;
}

.positions {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}


#back-btn {
  position: absolute;
  top: 12px;
  left: 20px;
  background: #111416a4;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

#question {
  font-size: 50px;
  color: #e6e4e4;
  margin-bottom: 30px;
  background: #111416a4;
  padding: 20px;
  border-radius: 10px;}

.positions {
  display: center;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.position {
  width: 150px;
  height: 100px;
  background: #00000085;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.position:hover {
  background: #ffffff17;
  transform: scale(1.05);

}

.position.correct {
  background: #000000d5;
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

.character-display img {
  transition: transform 1s ease-in-out;
}

#result {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

#next-btn, #restart-btn, #home-btn {
  background: #0c11144b;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}

#next-btn:hover, #restart-btn:hover, #home-btn:hover {
  background: #ebbdbd94;
}

.score-display {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 30px;
  color: #ffffff;
}

#timer {
  color: #ff06ea;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(255, 235, 246, 0.753);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #000000;
}

.skins-grid {
  display: contents;
  grid-template-columns: repeat(4, 1fr);
  gap: px;
  margin-bottom: 20px;
}
.skins-grid img {
  width: 100px;
  height: 100px;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.skins-grid img:hover {
  border-color: #fff5f8;
  transform: scale(1.1);
}