body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/736x/ba/d2/9f/bad29fdbb3a899a5b82288d7a5a45ecc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
}

#header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#logo img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

#logo img:hover {
    transform: scale(1.1);
}

#board {
    margin-top: 80px;
    background-color: black;
    border: 4px solid #2d42c6;
    box-shadow: 0 0 20px #023a4d, 0 0 40px #074559;
    display: block;
}
